@model IEnumerable<OrientXpress.Models.Photo>

@{
    ViewBag.Title = "Gallery";
    int numOfCols = 3; // You can change the number of columns here
    int numOfRows = Model.Count() / numOfCols;
    if (Model.Count() % numOfCols != 0)
    {
        numOfRows++;
    }
}

<!--banner start here-->
<div class="bann-two">

</div>
<!--banner end here-->
<!--gallery start here-->
<div class="gallery">
    <div class="container">
        <div class="gallery-main">
            <div class="gallery-top">
                <h3>Gallery</h3>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti corrupti dolores et quas </p>
            </div>
            <div class="gallery-bottom">
                @for (int row = 0; row < numOfRows; row++)
                {
                    <div class="gallery-@(row + 1)">
                        @for (int col = 0; col < numOfCols; col++)
                        {
                            int index = row * numOfCols + col;
                            if (index < Model.Count())
                            {
                                var item = Model.ElementAt(index);
                                <div class="col-md-4 gallery-left">
                                    <a href="@item.ConvertImageString()" rel="title" class="mask">
                                        <img src="@item.ConvertImageString()" height="200" alt="" class="img-responsive zoom-img">
                                    </a>
                                </div>
                            }
                            else
                            {
                                
                            }
                        }

                        <div class="clearfix"> </div>
                    </div>
                }
            </div>

        </div>
    </div>
</div>
<!--gallery  end here-->
<!--light-box-files -->
<script type="text/javascript" charset="utf-8">
    $(function () {
        $('.gallery-bottom a').Chocolat();
    });
</script>
