@model IEnumerable<OrientXpress.Models.Photo>

@{
    ViewBag.Title = "Gallery";
}

<!--banner start here-->
<div class="bann-two">

</div>
<!--banner end here-->
<!--gallery start here-->
<div class="gallery">
    <div class="container">
        <div class="gallery-main">
            <div class="gallery-top">
                <h3>Gallery</h3>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti corrupti dolores et quas </p>
            </div>
            <div class="gallery-bottom">
                <div class="gallery-1">
                    <div class="col-md-4 gallery-left">
                        <a href="~/template/images/g1.jpg" rel="title" class="mask">
                            <img src="~/template/images/g1.jpg" alt="" class="img-responsive zoom-img">
                        </a>
                    </div>
                    <div class="col-md-4 gallery-left">
                        <a href="~/template/images/g2.jpg" rel="title" class="mask">
                            <img src="~/template/images/g2.jpg" alt="" class="img-responsive zoom-img">
                        </a>
                    </div>
                    <div class="col-md-4 gallery-left">
                        <a href="~/template/images/g3.jpg" rel="title" class="mask">
                            <img src="~/template/images/g3.jpg" alt="" class="img-responsive zoom-img">
                        </a>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="gallery-2">
                    <div class="col-md-4 gallery-left">
                        <a href="~/template/images/g4.jpg" rel="title" class="mask">
                            <img src="~/template/images/g4.jpg" alt="" class="img-responsive zoom-img">
                        </a>
                    </div>
                    <div class="col-md-4 gallery-left">
                        <a href="~/template/images/g5.jpg" rel="title" class="mask">
                            <img src="~/template/images/g5.jpg" alt="" class="img-responsive zoom-img">
                        </a>
                    </div>
                    <div class="col-md-4 gallery-left">
                        <a href="~/template/images/g6.jpg" rel="title" class="mask">
                            <img src="~/template/images/g6.jpg" alt="" class="img-responsive zoom-img">
                        </a>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="gallery-2">
                    <div class="col-md-4 gallery-left">
                        <a href="~/template/images/g7.jpg" rel="title" class="mask">
                            <img src="~/template/images/g7.jpg" alt="" class="img-responsive zoom-img">
                        </a>
                    </div>
                    <div class="col-md-4 gallery-left">
                        <a href="~/template/images/g8.jpg" rel="title" class="mask">
                            <img src="~/template/images/g8.jpg" alt="" class="img-responsive zoom-img">
                        </a>
                    </div>
                    <div class="col-md-4 gallery-left">
                        <a href="~/template/images/g9.jpg" rel="title" class="mask">
                            <img src="~/template/images/g9.jpg" alt="" class="img-responsive zoom-img">
                        </a>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--gallery  end here-->
<!--light-box-files -->
<script src="~/Scripts/site/jquery.chocolat.js"></script>
<link href="~/Content/chocolat.css" rel="stylesheet" />
<!--light-box-files -->
<script type="text/javascript" charset="utf-8">
		$(function() {
			$('.gallery-bottom a').Chocolat();
		});
</script>
